<parking-loading></parking-loading>
<div class="mb-3 d-flex justify-content-between">
    <nz-card style="width:300px;" nzTitle="Total employee">
        <div class="d-flex flex-column">
            <i class="fa-solid fa-user-large mb-3"></i>
            <span class="num mt-1" data-val="340">000</span>
        </div>
    </nz-card>

    <nz-card style="width:300px;" nzTitle="Total employee">
        <div class="d-flex flex-column">
            <i class="fa-solid fa-user-large mb-3"></i>
            <span class="num mt-1" data-val="5000">000</span>
        </div>
    </nz-card>

    <nz-card style="width:300px;" nzTitle="Total employee">
        <div class="d-flex flex-column">
            <i class="fa-solid fa-user-large mb-3"></i>
            <span class="num mt-1" data-val="250">000</span>
        </div>
    </nz-card>

    <nz-card style="width:300px;" nzTitle="Total employee">
        <div class="d-flex flex-column">
            <i class="fa-solid fa-user-large mb-3"></i>
            <span class="num mt-1" data-val="100">000</span>
        </div>
    </nz-card>
</div>

<div class="d-flex mt-3">
    <div class="chart" id="chart"> 
        <dx-chart title="Monthly car deliveries" [dataSource]="data" class="mr-3">
            <dxi-series argumentField="month" valueField="value" name="Car parking" type="bar" color="#1ba8f0">
            </dxi-series>
            <dxo-common-series-settings argumentField="nameColumn">
                <dxo-label [customizeText]="customizeLabelText" [visible]="true"
                    [format]="{type: 'fixedPoint', precision: 2 }">
                </dxo-label>
            </dxo-common-series-settings>
            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="top">
            </dxo-legend>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="customizeTooltip">
            </dxo-tooltip>
        </dx-chart>
    </div>

    <div class="pie-chart" id="pie">
        <dx-pie-chart title="Percent male female ticket monthly" type="doughnut" palette="Soft Pastel"
            [dataSource]="dataDoughnut">
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
            <dxi-series argumentField="type" valueField="percent">
                <dxo-small-values-grouping mode="topN" [topCount]="3"></dxo-small-values-grouping>
                <dxo-label [visible]="true" format="fixedPoint" [customizeText]="customizeLabelDoughnut">
                    <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                </dxo-label>
            </dxi-series>
        </dx-pie-chart>
    </div>
</div>