.input-number-container nz-input-number {
  width: 100%;
}

:host ::ng-deep .ant-input-group-addon.ng-star-inserted {
  background: #dcdcdc;
  color: black;
}

::ng-deep .ant-table-row.ng-star-inserted {
  border: 1px solid black;
}

:host ::ng-deep .ant-pagination.ant-table-pagination.ant-table-pagination-right.mini.ng-star-inserted {
  display: block !important;
}

tr>th {
  background-color: #dee9fc;
}

.selected {
  background-color: #bde2ff !important;
}

::ng-deep .ant-table-tbody.ng-star-inserted>tr.rowData.ant-table-row.ng-star-inserted:hover>td {
  background: unset !important;
}

tr.is-parking-two {
  background-color: yellow;
}

.information-customer {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

nz-date-picker {
  width: 100%;
}

::ng-deep.webcam-wrapper>.mirrored {
  transform: scaleX(1) !important;
}

.btn-add {
  background-color: white;
  color: #1890ff;
  border: 2px solid;
  border-color: #1890ff;
  border-radius: 5px;
}

.btn-delete {
  background-color: white;
  color: #ff4d4f;
  border: 2px solid;
  border-color: #ff4d4f;
  border-radius: 5px;
}

.btn-detail {
  background-color: white;
  color: #abc23a;
  border: 2px solid;
  border-color: #abc23a;
  border-radius: 5px;
}

.btn-prepare {
  background-color: white;
  color: #1abc9c;
  border: 2px solid;
  border-color: #1abc9c;
  border-radius: 5px;
}