.input-number-container nz-input-number {
  width: 100%;
}

::ng-deep .ant-input-group-addon.ng-star-inserted {
  background: #dcdcdc;
  color: black;
}

::ng-deep .ant-table-row.ng-star-inserted {
  border: 1px solid black;
}

:host
  ::ng-deep
  .ant-pagination.ant-table-pagination.ant-table-pagination-right.mini.ng-star-inserted {
  display: block !important;
}

tr > th {
  background-color: #dee9fc;
}

.selected {
  background-color: #bde2ff !important;
}

::ng-deep
  .ant-table-tbody.ng-star-inserted
  > tr.rowData.ant-table-row.ng-star-inserted:hover
  > td {
  background: unset !important;
}

.search {
  text-align: right;
}

::ng-deep .ant-table-title.ng-star-inserted {
  font-weight: bold;
  background: #b3d4fc;
  border-bottom: 1px solid;
  border-bottom-color: black;
}

::ng-deep.ng-star-inserted.ant-pagination-total-text.ng-star-inserted {
  width: 155vh;
}

nz-date-picker {
  width: 100%;
}

.table {
  width: 100%;
}

/* Styles for small screens */
@media screen and (max-width: 600px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table ts {
    display: block;
    width: 100%;
  }
}
