<parking-loading></parking-loading>

<div>
    <h5>Tìm kiếm</h5>
    <div nz-row nzJustify="start">
        <div nz-col nzSpan="8">
            <nz-input-group nzRequired nzAddOnBefore="Promotion Name">
                <input type="text" nz-input [(ngModel)]="plate" />
            </nz-input-group>
        </div>
        <div nz-col nzSpan="8" class="ml-2">
            <nz-input-group nzRequired nzAddOnBefore="License Plate">
                <input type="text" nz-input [(ngModel)]="plate" />
            </nz-input-group>
        </div>
        <div nz-col nzSpan="6" class="ml-2">
            <button class="mr-3" nz-button nzType="primary" nzGhost (click)="createModal.show()">
                <i class="fa-solid fa-magnifying-glass mr-2"></i>
                Tìm kiếm
            </button>
        </div>
    </div>
    <div class="mt-2" style="height: 35vh;">
        <div class="d-flex justify-content-between">
            <h5>Danh sách chương trình khuyến mãi</h5>
            <button class="mr-3 mt-3" nz-button nzType="primary" (click)="createModal.show()">
                <i class="fa-solid fa-user-plus mr-2"></i>
                Add
            </button>
        </div>
        <nz-table #virtualTable [nzBordered]="true" [nzSize]="'small'" [nzData]="listData" [nzPageSize]="5"
            [nzShowTotal]="rangeTemplate">
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
            <thead>
                <tr>
                    <th nzAlign="center">Creation Time</th>
                    <th nzAlign="center">LastModification Time</th>
                    <th nzAlign="center">Promotion Name</th>
                    <th nzAlign="center">From date</th>
                    <th nzAlign="center">To date</th>
                    <th nzAlign="center">Discount</th>
                    <th nzAlign="center">Point</th>
                    <th nzAlign="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowData" *ngFor="let data of virtualTable.data; let i = index" [class.selected]="i === selectedRowIndex" (click)="onChangeSelectRow(i)">
                        <td nzAlign="center" [nzDisabled]="true">{{ data.creationTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td nzAlign="center" [nzDisabled]="true">{{ data.lastModificationTime | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>{{ data.promotionName }}</td>
                        <td>{{ data.fromDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.toDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.discount + ' %'}}</td>
                        <td>{{ data.point }}</td>
                        <td nzAlign="center">
                            <button class="mr-3" nz-button nzType="default" (click)="createModal.show(data)">
                                <i class="fa-regular fa-pen-to-square mr-1"></i>
                                Edit
                            </button>
                            <button nz-button nzType="default" nzDanger (click)="deletePromotion(data.id!)">
                                <i class="fa-solid fa-trash-can mr-1"></i>
                                Delete
                            </button>
                        </td>
                </tr>
                <promotion-create-edit #createModal (modalSave)="getAllData()"></promotion-create-edit>
            </tbody>
        </nz-table>
    </div>
    <div class="mt-2" style="height: 35vh;">
        <div class="d-flex justify-content-between">
            <h5>Thông tin chương trình khuyến mãi</h5>
            <button class="mr-3 mt-3" nz-button nzType="primary" (click)="createModal.show()">
                <i class="fa-solid fa-user-plus mr-2"></i>
                Add
            </button>
        </div>
        <nz-table #virtualTable [nzBordered]="true" [nzSize]="'small'" [nzData]="listData" [nzPageSize]="5"
            [nzPageSizeOptions]=[5,10,20,30] [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate">
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
            <thead>
                <tr>
                    <th nzAlign="center">Creation Time</th>
                    <th nzAlign="center">LastModification Time</th>
                    <th nzAlign="center">Promotion Name</th>
                    <th nzAlign="center">Start date</th>
                    <th nzAlign="center">Expiration date</th>
                    <th nzAlign="center">Value</th>
                    <th nzAlign="center">Point</th>
                    <th nzAlign="center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowData" *ngFor="let data of virtualTable.data;">
                    <ng-container>
                        <td nzAlign="center" [nzDisabled]="true">{{ data.creationTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td nzAlign="center" [nzDisabled]="true">{{ data.lastModificationTime | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>{{ data.promotionName }}</td>
                        <td>{{ data.fromDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.toDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ data.discount }}</td>
                        <td>{{ data.point }}</td>
                        <td nzAlign="center">
                            <button class="mr-3" nz-button nzType="default" (click)="createModal.show(data)">
                                <i class="fa-regular fa-pen-to-square mr-1"></i>
                                Edit
                            </button>
                            <button nz-button nzType="default" nzDanger (click)="deletePromotion(data.id!)">
                                <i class="fa-solid fa-trash-can mr-1"></i>
                                Delete
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <promotion-create-edit #createModal (modalSave)="getAllData()"></promotion-create-edit>
            </tbody>
        </nz-table>
    </div>
</div>