/* .container{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50%;
} */

 ::ng-deep .webcam-wrapper>.mirrored {
    transform: scaleX(1) !important;
}

mark{
    color: red;
    background: white;
}

.title{
    font-weight: bold;
    font-size: x-large;
}

span{
    font-size: 20px;
}
