<parking-loading></parking-loading>
<div class="container">
    <div>
        <div nz-row *ngIf="isCameraExist; else noCameraExist" class="camera" style="display: flex;">
            <webcam class="mirrored" [height]="350" [width]="350" [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
            <div nz-col class="gutter-row ml-3" [nzSpan]="12">
                <img nz-image width="350" height="262.5" *ngIf="imga" [src]="imga" [nzFallback]="imga">
            </div>
        </div>
        <ng-template #noCameraExist>
            Camera Device not Available
        </ng-template>

    </div>
    <h2 *ngIf="isScan">Biển số xe vào: <mark style="color: green; background-color: white;">{{ resultImage }}</mark> </h2>
    <h2 *ngIf="!isScan">Biển số xe vào: <mark>{{ resultImage }}</mark> </h2>
    <h5>Mã gửi xe: {{ maGuixe }} </h5>

    <div nz-row>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <button nz-button nzType="default" (click)="cappicture()">
                <i class="fa-solid fa-camera-rotate mr-1"></i>
                Nhập xe
            </button>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <button nz-button nzType="default" (click)="inputCar()">
                <i class="fa-solid fa-rotate mr-1"></i>
                Lấy mã
            </button>
        </div>
    </div>
</div>