<parking-loading></parking-loading>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Add user'" (nzOnCancel)="handleCancel()" (nzOnOk)="save()"
    [nzOkLoading]="isOkLoading">
    <div *nzModalContent>
        <form nz-form [formGroup]="form" (ngSubmit)="save()">
            <nz-form-item *ngIf="userDto.id == null">
                <nz-form-control nzErrorTip="The input is not valid user name!">
                    <nz-input-group nzAddOnBefore="User name">
                        <input type="text" nz-input formControlName="userName" id="userName" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="userDto.id == null">
                <nz-form-control nzErrorTip="The input is not valid pass word!">
                    <nz-input-group nzAddOnBefore="Pass word">
                        <input type="password" nz-input formControlName="passWord" id="passWord" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="The input is not valid name!">
                    <nz-input-group nzAddOnBefore="Full name">
                        <input type="text" nz-input formControlName="fullName" id="fullName" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="The input is not valid role!">
                    <nz-input-group nzAddOnBefore="Role">
                        <nz-select formControlName="role" id="role" style="width: 100%;">
                            <nz-option *ngFor="let option of options" [nzValue]="option.value"
                                [nzLabel]="option.label"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</nz-modal>