:host ::ng-deep .ant-pagination.ant-table-pagination.ant-table-pagination-right.mini {
  display: block;
}

::ng-deep.ng-star-inserted>.ant-pagination-total-text.ng-star-inserted {
  width: 82%;
}

::ng-deep.ant-input-group-addon.ng-star-inserted {
  text-align: left;
  width: 89px;
  background: #dcdcdc;
  color: black;
}

tr>th {
  background-color: #dee9fc;
}

.selected {
  background-color: #bde2ff !important;
}

::ng-deep .ant-table-tbody.ng-star-inserted>tr.rowData.ant-table-row.ng-star-inserted:hover>td {
  background: unset !important;
}

.btn-add {
  background-color: white;
  color: #1890ff;
  border: 2px solid;
  border-color: #1890ff;
  border-radius: 5px;
}

.btn-delete {
  background-color: white;
  color: #ff4d4f;
  border: 2px solid;
  border-color: #ff4d4f;
  border-radius: 5px;
}

.btn-edit {
  background-color: white;
  color: #fbd66c;
  border: 2px solid;
  border-color: #fbd66c;
  border-radius: 5px;
}