<parking-loading></parking-loading>
<div class="d-flex justify-content-between">
    <h1>User managerment</h1>
    <button class="mr-3 mt-3" nz-button nzType="primary" (click)="createModal.show()">
        <i class="fa-solid fa-user-plus mr-2"></i>
        Add
    </button>
</div>

<nz-table #virtualTable [nzBordered]="true" [nzSize]="'small'" [nzData]="listData" [nzPageSize]="5" [nzPageSizeOptions]=[5,10,20,30]
    [nzShowSizeChanger]="true" [nzShowTotal]="rangeTemplate">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Creation Time</th>
            <th nzAlign="center">LastModification Time</th>
            <th nzAlign="center">User Name</th>
            <th nzAlign="center">Full Name</th>
            <th nzAlign="center" nzWidth="5%">Role</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="rowData" *ngFor="let data of virtualTable.data;">
            <ng-container>
                <td nzAlign="center" [nzDisabled]="true">{{ data.creationTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td nzAlign="center" [nzDisabled]="true">{{ data.lastModificationTime | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ data.userName }}</td>
                <td>{{ data.fullName }}</td>
                <td nzAlign="center">{{ data.role == 1 ? 'Admin' : 'User'}}</td>
                <td nzAlign="center">
                    <button class="mr-3" nz-button nzType="default" (click)="createModal.show(data)">
                        <i class="fa-regular fa-pen-to-square mr-1"></i>
                        Edit
                    </button>
                    <button nz-button nzType="default" nzDanger (click)="deleteUser(data.id!)">
                        <i class="fa-solid fa-trash-can mr-1"></i>
                        Delete
                    </button>
                </td>
            </ng-container>
        </tr>
        <user-create-edit #createModal (modalSave)="getAllData()"></user-create-edit>
    </tbody>
</nz-table>