  ::ng-deep .ant-pagination.ant-table-pagination.ant-table-pagination-right.ng-star-inserted {
    display: block !important;
  }

  ::ng-deep .ng-star-inserted>.ant-pagination-total-text.ng-star-inserted {
    width: 82%;
  }

  ::ng-deep .ant-input-group-addon.ng-star-inserted {
    width: 89px;
  }